* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  
}

.glow {
  box-shadow: 0 0 40px 10px rgb(136, 4, 4);
}

.hover:hover {
  cursor: pointer;
  background-color: rgb(100, 3, 3);
}

.color1 {
  height: fit-content;
  background-color: #1f2937;
  padding-bottom: 75px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  margin: 0 100px 50px;
}
.logo {
  display: flex;
  flex: 1;
  height: 75px;
  width: auto;
  
}

.links ul {
  display: flex;
  list-style: none;
  gap: 16px;
}

.title-section {
  display: flex;
  margin: 0 100px;
}

.title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  flex: 1;
  gap: 36px;
}

.main-title {
  font-size: 48px;
  font-weight: 1000;
  color: #f9faf8;
}

a,
.subtitle {
  font-size: 18px;
  color: #e5e7eb;

}

a {
  text-decoration: none;
}

.title button {
  background-color: red;
  color: #f9faf8;
  padding: 4px 20px;
  border-radius: 5px;
  border: #3882f6;
  font-weight: bold;
}


.title-section img {
  width: auto;
  height: 250px;
  margin-left: 30px;
}

.content {
  height: fit-content;
  padding: 36px 0 96px 0;
}

.info-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 42px;
}

.card {
  flex-wrap: wrap;
  width: 250px;
  text-align: center;
}

div .card {
  font-size: 24px;
}

.info img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.color2 {
  background-color: #e5e7eb;
  padding: 96px 250px;
}

.quote {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
}

.author {
  color: #1f2937;
  font-weight: bold;
  text-align: right;
  font-size: 28px;
}

.sign-up {
  padding: 96px 150px;
}

.red-box {
  background-color: darkred;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 72px;
}

.flame-gif {
  height: 100px;
  width: auto;
}

.text {
  color: #e5e7eb;
  font-size: 18px;
  flex-wrap: wrap;
  width: 400px;
}

.bold {
  font-weight: bold;
}

.sign-up button {
  background-color: red;
  color: #f9faf8;
  padding: 4px 20px;
  border-radius: 5px;
  border: 2px solid #e5e7eb;
  font-weight: bold;
  
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  padding: 24px;
  color: #f9faf8;
}
